<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="background">
      <!-- Partículas en el fondo -->
      <app-particles class="particles-background"></app-particles>
      <button class="back-home-btn" (click)="volverAlInicio()">
        <i class="fa fa-arrow-left"></i> Volver al inicio
      </button>
      <div class="content-container">
        <h1>
          Las cartas han hablado... ahora el universo revela su mensaje para ti.
        </h1>
        <h1>En unos momentos una de nuestras maestras se comunicará contigo</h1>
        <div class="button-container">
          <button class="call-to-action" (click)="redirigir()">
            Volver a jugar
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
